<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="androidapp.yashthaluri.com.yeoman">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/leaf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailWorkersShowActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Authentication" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileDetailActivity" />
        <activity android:name=".BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--  -->
            </intent-filter>
        </activity>
    </application>

</manifest>